<mat-toolbar class="d-flex flex-row header-toolbar" color="primary">
    <div class="welcome">Welcome {{ userService.getUsername() }}</div>
</mat-toolbar>
<div class="container-fluid master-container">
    <!-- Header Toolbar -->
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row home-container">
               <div class="d-flex flex-column home-dashboard">
                    <div class="dashboard-header">
                        <label class="dashboard-header-text">Hi buddy, what would you like to do ? </label>
                        <div class="d-flex flex-row dashboard-header-content">
                            <button class="btn-ping" mat-raised-button color="warn" (click)="openMessageInputDialog();">Ping the Bot</button>
                            <button class="btn-poke" mat-raised-button color="warn" (click)="pokeBot();">Poke the Bot</button>
                        </div>
                    </div>
                    <div #changeLog class="dashboard-body">
                        <ng-template let-logMsg ngFor [ngForOf]="chatService.changeLog">
                            <div class="d-flex action-log-row">
                                <span class="action-user" [ngStyle]="{ 'background-color': (logMsg.author!=='Ottonova Bot') ? 'darkblue': 'red' }">{{ logMsg.author }}</span>
                                <span class="action-text">{{ logMsg.message }}</span>
                            </div>
                        </ng-template>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>