:host * {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
}
.mat-toolbar.mat-primary {
    background-color: rgba(0, 139, 139, .8);
    padding: 0px 25px;
    justify-content: space-between;
    align-items: center;
    .welcome {
        font-size: 20px;
        font-weight: 600;
    }
}
.master-container {
    background-image: url('../../../assets/images/jpg/login-background.jpg');
    background-size: cover;
    min-width: 1024px;
    overflow: hidden;
    .home-container {
        height: calc(100vh - 64px);
        justify-content: center;
        align-items: flex-start;
        .home-dashboard {
            width: calc(100% - 25px);
            background-color: rgba(95, 158, 160, 0.7);
            height: calc(100% - 50px);
            margin-top: 25px;
            border-radius: 5px;
            padding: 10px;
            color: #FFFFFF;
            .dashboard-header {
                padding-bottom: 15px;
                border-bottom: 2px solid #959595;
                .dashboard-header-text {
                    height: 30px;
                }
                margin: 10px;
                .dashboard-header-content {
                    justify-content: flex-start;
                    align-items: center;
                    .btn-ping {
                        margin-right: 10px;
                    }
                }
            }
            .dashboard-body {
                background-color: #68232370;
                height: calc(100% - 100px);
                margin: 0px 5px 10px;
                border-radius: 5px;
                overflow-y: auto;
                .action-log-row {
                    border: 1px solid #FFFFFF;
                    border-radius: 5px;
                    margin: 5px;
                    height: 30px;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 5px;
                    .action-user {
                        margin-right: 10px;
                        background-color: red;
                        height: 22px;
                        border-radius: 5px;
                        padding: 0px 5px;
                    }
                }
            }
            .dashboard-body::-webkit-scrollbar {
                width: 8px;
            }
            .dashboard-body::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px transparent; 
                border-radius: 10px;
            }
            .dashboard-body::-webkit-scrollbar-thumb {
                background-color: darkblue; 
                border-radius: 10px;
            }
        }
    }   
}
::ng-deep .tooltip-danger {
    background: #b71c1c;
}