<div class="container-fluid master-container">
    <!-- Header Toolbar -->
    <!-- <mat-toolbar class="header-toolbar" color="primary">
        <span>Socket Chat Client</span>
    </mat-toolbar> -->
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row login-container">
                <!-- Card container that binds all together -->
                <mat-card class="login-form-panel">
                    <!-- Title of an Card -->
                    <mat-card-title>
                        Please sign in
                    </mat-card-title>

                    <!-- Actual content starts from here -->
                    <mat-card-content>
                        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)" autocomplete="off">
                            <mat-form-field class="login-form-field">
                                <input formControlName="username" matInput placeholder="Username"
                                    matTooltip="Username is mandatory" matTooltipClass="tooltip-danger"
                                    [matTooltipDisabled]="loginForm.get('username').valid || !loginForm.get('username').touched">
                            </mat-form-field>
                            <mat-form-field class="login-form-field">
                                <input type="password" formControlName="password" matInput
                                    placeholder="Password" matTooltip="Password is mandatory" matTooltipClass="tooltip-danger"
                                    [matTooltipDisabled]="loginForm.get('password').valid || !loginForm.get('password').touched">
                            </mat-form-field>
                            <button type="submit" mat-raised-button color="accent"
                                        [disabled]="!loginForm.valid">Sign In</button>
                        </form>
                        <div class="d-flex logo-container">
                            <img src="../../../../assets/images/svg/logo-chat.svg" />
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>