.command-dialog-container {
    justify-content: center;
    align-items: center;
    .map-container {
        .map {
            width: 400px;
            height: 400px;
        }
        .map-toolbar {
            justify-content: flex-end;
            align-items: center;
            height: 40px;
        }
    }
    .date-container {
        td {
            padding: 10px;
        }
    }
    .day-container {
        display: block;
        .day-grid {
            flex-wrap: wrap;
            button {
                width: 100px;
                margin: 5px;
            }
        }
    }
    .rating-container {
        .btn-container {
            padding-left: 30px;
        }
    }
    .complete-container {
        td {
            padding: 5px;
        }
    }
}
