<div class="ping-server-section">
    <input class="ping-input" type="text" [(ngModel)]="pingText" placeholder="Type in your text" />
    <button class="btn-send" mat-raised-button color="primary" (click)="pingBot();"
        [disabled]="!pingText">Send</button>
</div>